body {
    margin: 0%;
}

.pixel {
    margin: 1px;
    margin-bottom: 9px;
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: ease-in 2s;
}
br {
    display: block;
    margin: -6px 0;
}
